.contactForm {
    background-image: url("../Contact/YarmReflection.jpg");
    background-size: cover;/* 
    margin-top: 1vh; */
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #083F44;
    padding: 200px;
    border-radius: 15%;
    color: #ffffff;
    font-weight: 600;
    font-size: larger;
}

.buttonSubmit {
    border: 2px;
    background-color: #80C9D0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    
}

.addNewMessage {
    color: #083F44;
    margin-bottom: 8vh;
    font-size: xx-large;
    font-weight: 700;
}

label {
    background-color: #083F44;
    padding: 2px;
}