.introPeople {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 500px;
    font-size: larger;
    background-image: url("../People/womenCover.jpg");
    background-size: cover;
    color: white;
}

.txtPeople {
    margin-right: 30vw; 
    margin-left: 5vw; 
    margin-top: 10vh;
    background-color: #2B5D4B;
    border-radius: 10%;
    opacity: 0.8;
    padding: 10px;
    width: 600px;
}

.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  
.container {
    text-align: center;
    padding: 10px 20px;
}

img {
    width: 1000px;
    margin-bottom: 20px;
}

