/* General Style */
.blogOverview {
    margin-left: 50px;
    margin-right: 50px;
}

.blog {
    width: 80vw;
    margin: 50px;
    height: 500px;
}

.headerBlog {
    text-align: center;
}

.blogTitle {
    padding: 5px;
    text-align: center;
}

/* Yarm Blog */

.blogYarm {
    width: 25vw;
    font-size: larger;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    opacity: 0.7;
}

.blog1 {
    background-image: url("https://scontent-mrs2-1.xx.fbcdn.net/v/t31.18172-8/10626220_10152556771757827_8569560513509148741_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=l2hDUJN04yUAX9L19VH&_nc_ht=scontent-mrs2-1.xx&oh=dcc087e90c8190f21e6299827502aa7e&oe=6097E191");
    background-size: cover;
    width: 80vw;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* My Family Blog */
.blog2 {
    background-image: url("https://scontent-mrs2-2.xx.fbcdn.net/v/t31.18172-8/12022535_10153001314402827_9182097499929186746_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=z-adXT4r378AX_4gpyn&_nc_ht=scontent-mrs2-2.xx&oh=b0d3bf603e5b06af78733b885091a61a&oe=609523F6");
    background-size: cover;
    width: 80vw;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.blogFamily {
    background: rgb(184, 177, 115);
    opacity: 0.8;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    width: 40vw;
    font-size: larger;
}
